<md-sidenav class="md-sidenav-left" md-is-open="sidenavIsOpen" md-component-id="agendasSidenav" md-is-locked-open="lockedOpen()" md-whiteframe="4">
  <md-list ng-if="!showDeveloperSidenav()">
    <md-list-item ui-sref="home">
      <md-icon md-svg-src="agendas.svg" style="width: 48px; height: 48px; margin-left: 0;"></md-icon>
      <h1 class="md-display-1">Agendas</h1>
    </md-list-item>
    <md-list-item class="md-2-line" ui-sref="settings">
      <img ng-if="$root.user.photoURL" ng-src="{{$root.user.photoURL}}" class="md-avatar" />
      <md-icon ng-if="!$root.user.photoURL" class="md-avatar-icon">person</md-icon>
      <div class="md-list-item-text">
        <h3>{{$root.isOffline ? "Settings" : "Account & Settings"}}</h3>
        <p>{{$root.username || $root.user.email}}</p>
      </div>
    </md-list-item>
    <md-list-item ng-if="$root.isOffline">
      <md-icon>cloud_off</md-icon>
      <p>You're offline.</p>
    </md-list-item>
    <md-list-item ng-if="$root.showDeveloper && !$root.isOffline" ui-sref="console">
      <md-icon class="md-avatar-icon" md-colors="{background: 'primary'}">code</md-icon>
      <p>Developer Console</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ui-sref="all">
      <md-icon class="md-avatar-icon" md-colors="{background: 'accent'}">list</md-icon>
      <p>All Agendas</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-class="agendaIsSelected(agenda.id) ? 'selected' : ''" ng-click="selectAgenda(agenda)" ng-show="agenda.name" ng-repeat="agenda in agendas" style="height: 1.25em;">
      <md-icon>list</md-icon>
      <p>{{agenda.name}}</p>
    </md-list-item>
    <md-list-item ng-click="addAgenda($event)">
      <md-icon>add</md-icon>
      <p>New Agenda</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="signOut()">
      <md-icon>exit_to_app</md-icon>
      <p>Sign out</p>
    </md-list-item>
  </md-list>
  <console-sidenav ng-if="showDeveloperSidenav()"></console-sidenav>
</md-sidenav>
<div class="agendas-sidenav-placeholder" ng-if="gtMd()"></div>
