<md-sidenav class="md-sidenav-left" md-is-open="sidenavIsOpen" md-component-id="agendasSidenav" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
  <md-list>
    <md-list-item>
      <md-icon md-svg-src="agendas.svg" style="width: 48px; height: 48px;"></md-icon>
      <div class="md-list-item-text">
        <h1 class="md-display-1">Agendas</h1>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" ui-sref="settings">
      <img ng-if="$root.user.photoURL" ng-src="{{$root.user.photoURL}}" class="md-avatar" />
      <md-icon ng-if="!$root.user.photoURL" class="md-avatar-icon">person</md-icon>
      <div class="md-list-item-text">
        <h3>Account & Settings</h3>
        <p>{{$root.username || $root.user.email}}</p>
      </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item md-no-ink ng-class="agendaIsSelected(agenda.id) ? 'selected' : ''" ng-click="selectAgenda(agenda)" ng-repeat="agenda in agendas">
      <md-card md-colors="{background: 'primary'}">
        <md-card-content>
          <md-progress-circular md-diameter="20px" md-mode="indeterminate" ng-if="!agenda.name"></md-progress-circular>
          <h3 class="md-headline">{{agenda.name}}</h3>
        </md-card-content>
      </md-card>
    </md-list-item>
    <md-list-item ng-click="addAgenda($event)">
      <md-icon>add</md-icon>
      <p>New Agenda</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="signOut()">
      <md-icon>exit_to_app</md-icon>
      <p>Sign out</p>
    </md-list-item>
  </md-list>
</md-sidenav>
<div class="agendas-sidenav-placeholder" ng-if="gtMd()"></div>
