<agendas-menu-toolbar></agendas-menu-toolbar>
<div ng-style="{height: mdMedia('md') ? 'calc(100vh - 64px)' : '100vh'}" layout="row" layout-align="center center">
  <div style="height: 100%;" layout="column" flex-gt-md="60" flex-md="80" flex-sm="90" flex-xs="95">
    <h1 class="md-display-3" style="margin-top: 0.5em; margin-bottom: 1.5em;">{{agenda.name}}</h1>
    <div md-whiteframe="4" flex="grow">
      <md-nav-bar md-selected-nav-item="screen">
        <md-nav-item md-nav-click="goto('tasks')" name="tasks"><md-icon>list</md-icon> Tasks</md-nav-item>
        <md-nav-item md-nav-click="goto('categories')" name="categories"><md-icon>local_offer</md-icon> Tags</md-nav-item>
        <md-nav-item md-nav-click="goto('settings')" name="settings"><md-icon>settings</md-icon> Settings</md-nav-item>
      </md-nav-bar>
      <md-list class="task-list" ng-class="selectedTask ? 'task-editor-open' : 'task-editor-closed'" ng-show="screen == 'tasks'">
        <md-list-item>
          <md-switch ng-model="showCompleted" ng-disabled="selectedTask"></md-switch>
          <p>Show completed tasks</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-disabled="permissions[$root.user.uid] !== 'editor'" ng-click="showTaskEditor(task)" ng-repeat-start="task in tasksArray track by task" class="task md-2-line" ng-class="{show: showCompleted || (!completed[task]), completed: completed[task], overdue: isOverdue(tasks[task])}">
          <md-checkbox class="md-primary" ng-disabled="permissions[$root.user.uid] !== 'editor'" ng-model="completed[task]" ng-change="completeTask(task)"></md-checkbox>
          <div class="md-list-item-text">
            <h3>{{tasks[task].name}}</h3>
            <p>
              <span ng-if="tasks[task].deadline"><md-icon>today</md-icon> {{getDeadlineString(tasks[task].deadline, completed[task])}}</span>
              <span ng-if="tasks[task].deadline && tasks[task].deadlineTime"><md-icon>access_time</md-icon> {{tasks[task].deadline | date:"shortTime"}}</span>
              <span ng-if="tasks[task].tags || tasks[task].category">
                <md-icon>local_offer</md-icon>
                <span class="tag-circle-container" ng-repeat="tag in getTags(tasks[task])">
                  <span class="tag-circle" md-colors="getMdColor(categoryObj[tag].color)">
                    <md-tooltip md-delay="0">{{categoryObj[tag].name}}</md-tooltip>
                  </span>
                </span>
                <span ng-if="getTags(tasks[task]).length < 2">{{categoryObj[getTags(tasks[task])[0]].name}}</span>
              </span>
            </p>
          </div>
          <md-button class="md-secondary md-icon-button" ng-click="showTaskEditor(task)" ng-if="!selectedTask"><md-icon>edit</md-icon></md-button>
        </md-list-item>
        <div ng-repeat-end>
          <task-editor ng-if="selectedTask === task" task="tasks[task]" task-key="task" tags-array="categories" tags-object="categoryObj" on-finish="hideTaskEditor()"></task-editor>
          <md-divider ng-if="selectedTask === task"></md-divider>
        </div>
        <div class="add-task">
          <md-divider></md-divider>
          <md-list-item class="add-task">
            <task-creator tags="categories" on-add-task="addTask(task)"></task-creator>
          </md-list-item>
        </div>
      </md-list>
      <tag-editor categories="categories" ng-show="screen === 'categories'"></tag-editor>
      <agenda-settings ng-if="screen === 'settings'" agenda="agenda" permissions="permissions"></agenda-settings>
    </div>
  </div>
</div>
