<md-dialog ng-class="$root.darkTheme ? 'md-dark-theme' : ''">
  <md-dialog-content>
    <div class="md-dialog-content">
      <h3 class="md-headline">Completed tasks</h3>
      <md-list class="task-list no-padding" ng-class="(selectedTask ? 'task-editor-open ' : 'task-editor-closed ') + ($root.darkTheme ? 'md-dark-theme' : '')">
        <md-list-item ng-disabled="!permissions.edit_tasks" ng-click="showTaskEditor(task)" ng-repeat-start="task in tasksArray track by task" class="task md-2-line show" ng-class="{completed: completed[task], overdue: isOverdue(tasks[task])}">
          <md-checkbox class="md-primary" ng-disabled="!permissions.complete_tasks" ng-model="completed[task]" ng-change="completeTask(task)"></md-checkbox>
          <div class="md-list-item-text">
            <h3>{{tasks[task].name}}</h3>
            <p>
              <span ng-if="tasks[task].deadline"><md-icon>today</md-icon> {{getDeadlineString(tasks[task].deadline, completed[task])}}</span>
              <span ng-if="tasks[task].deadline && tasks[task].deadlineTime"><md-icon>access_time</md-icon> {{tasks[task].deadline | date:"shortTime"}}</span>
              <span ng-if="tasks[task].tags && getTags(tasks[task]).length > 0">
                <md-icon>local_offer</md-icon>
                <span class="tag-circle-container" ng-repeat="tag in getTags(tasks[task]) track by tag">
                  <span class="tag-circle" md-colors="getMdColor(categoryObj[tag].color)">
                    <md-tooltip md-delay="0">{{categoryObj[tag].name}}</md-tooltip>
                  </span>
                </span>
                <span ng-if="getTags(tasks[task]).length < 2">{{categoryObj[getTags(tasks[task])[0]].name}}</span>
              </span>
              <span ng-if="tasks[task].priority">
                <md-icon>error</md-icon> {{priorities[tasks[task].priority - 1] || tasks[task].priority}}
              </span>
            </p>
          </div>
          <md-button class="md-secondary md-icon-button" ng-click="showTaskEditor(task)" ng-disabled="!permissions.edit_tasks" ng-if="!selectedTask"><md-icon>edit</md-icon></md-button>
        </md-list-item>
        <div ng-repeat-end>
          <task-editor ng-if="selectedTask === task" task="tasks[task]" task-key="task" tags-array="categories" tags-object="categoryObj" on-finish="hideTaskEditor()"></task-editor>
          <md-divider ng-if="selectedTask === task"></md-divider>
        </div>
      </md-list>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-primary" ng-click="hide()">Done</md-button>
  </md-dialog-actions>
</md-dialog>
