<md-dialog ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Edit Agenda "{{name}}"</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Agenda">
        <div class="md-dialog-content">
          <div>
            <md-input-container class="md-block">
              <label>Name</label>
              <input type="text" ng-model="name" />
            </md-input-container>
          </div>
          <div>
            <md-list class="category-list">
              <md-subheader class="md-no-sticky">Categories</md-subheader>
              <md-list-item ng-repeat="category in categories">
                <md-select placeholder="Color" ng-change="saveCategory(category)" ng-model="category.color">
                  <md-option value="">None</md-option>
                  <md-option value="{{color.name}}" ng-repeat="color in colors"><div class="category-circle" style="background-color: #{{color.color}}"></div></md-option>
                </md-select>
                <md-input-container class="md-block" md-no-float>
                  <input type="text" placeholder="Category" ng-change="saveCategory(category)" ng-model="category.name" />
                </md-input-container>
                <md-icon class="md-secondary" ng-click="deleteCategory(category)">delete</md-icon>
              </md-list-item>
              <md-list-item ng-click="addCategory()">
                <md-icon>add</md-icon>
                <p>New category</p>
              </md-list-item>
            </md-list>
          </div>
          <md-button class="md-warn" ng-click="deleteAgenda($event)">Delete Agenda</md-button>
        </div>
      </md-tab>
      <md-tab ng-if="settings.useSchedule || schedule.use" label="Schedule">
        <div class="md-dialog-content">
          <md-switch ng-model="schedule.use">Enable Schedule</md-switch>
          <div ng-show="schedule.use">
            <table>
              <thead>
                <tr>
                  <td>
                    <p class="md-title">Schedule</p>
                  </td>
                  <td ng-repeat="block in schedule.block.blocks">
                    <time-picker ng-model="block.start" use-24-hours="false">
                    </time-picker>
                    <p>to</p>
                    <time-picker ng-model="block.end" use-24-hours="false">
                    </time-picker>
                    <md-button class="md-icon-button md-warn" ng-click="deleteBlock($index)"><md-icon>close</md-icon></md-button>
                  </td>
                  <td ng-click="newBlock()">
                    <p class="md-title">New block</p>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="day in schedule.block.days">
                  <td layout="row">
                    <md-input-container md-no-float flex>
                      <input placeholder="Name of day {{$index + 1}}" ng-model="day.name" />
                    </md-input-container>
                    <md-button class="md-icon-button md-warn" ng-click="deleteDay($index)"><md-icon>close</md-icon></md-button>
                  </td>
                  <td ng-repeat="block in schedule.block.blocks">
                    <schedule-category-chooser ng-model="day.categories[$index]">
                      <schedule-category-option name="None" disabled="false"></schedule-category-option>
                      <schedule-category-option ng-repeat="category in categories track by category.id" color="{{category.color}}" name="{{category.name}}" value="category.id" disabled="false"></schedule-category-option>
                    </schedule-category-chooser>
                  </td>
                </tr>
                <tr ng-click="newDay()">
                  <td><p>New day</p></td>
                </tr>
              </tbody>
            </table>
            <p class="md-title">Control points</p>
            <div class="control-points" layout="row" layout-align="start center">
              <control-point icon="edit" selected="selectedPoint.id === $index" ng-click="editPoint($index)" ng-repeat="point in schedule.block.points">
                <p>{{point.date | toDateString}}</p>
                <p>{{point.type | pointTypeFilter:schedule.block.days}}</p>
              </control-point>
              <control-point icon="add" selected="selectedPoint.id === -1" ng-click="showPointCreation()">
                <p>New point</p>
              </control-point>
            </div>
            <div ng-hide="selectedPoint.id === undefined">
              <md-datepicker ng-model="selectedPoint.date" placeholder="Date"></md-datepicker>
              <md-input-container>
                <label>Type</label>
                <md-select ng-model="selectedPoint.type">
                  <md-option value="none">Free</md-option>
                  <md-option ng-repeat="day in schedule.block.days" value="{{$index}}">{{day.name}}</md-option>
                </md-select>
              </md-input-container>
              <md-button class="md-accent" ng-click="cancelPoint()">Cancel</md-button>
              <md-button class="md-raised md-primary" ng-click="savePoint()" ng-disabled="!selectedPoint.date || (selectedPoint.type === undefined)">Save</md-button>
              <md-button class="md-warn md-icon-button" ng-click="removePoint()" ng-hide="selectedPoint.id === -1"><md-icon>delete</md-icon></md-button>
            </div>
          </div>
        </div>
      </md-tab>
    </md-tabs>
  </md-dialog-content>
  <md-dialog-actions>
    <span flex></span>
    <md-button class="md-warn" ng-click="cancel()">Discard</md-button>
    <md-button class="md-primary" ng-click="saveAndDismiss()">Save</md-button>
  </md-dialog-actions>
</md-dialog>
