<div class="calendar-header" layout="row" layout-align="start center">
  <md-button ng-show="calendarMode != 'month'" ng-click="switchMode()" class="md-icon-button">
    <md-icon>arrow_back</md-icon>
    <md-tooltip>Month</md-tooltip>
  </md-button>
  <span class="calendar-title" flex>{{currentDay | calendarTitleFilter:calendarMode}}</span>
  <md-button class="md-icon-button" ng-click="changeDay(-1)">
    <md-icon>chevron_left</md-icon>
  </md-button>
  <md-button class="md-icon-button" ng-click="today()">
    <md-icon>today</md-icon>
    <md-tooltip>Today</md-tooltip>
  </md-button>
  <md-button class="md-icon-button" ng-click="changeDay(1)">
    <md-icon>chevron_right</md-icon>
  </md-button>
</div>
<div class="calendar-day" ng-show="calendarMode == 'day'">
  <table class="calendar-times">
    <tbody>
      <tr ng-repeat="time in times">
        <td>{{time.showTime ? (time.time | timeFilter) : ""}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="calendar-month" ng-show="calendarMode == 'month'">
  <table>
    <thead>
      <tr>
        <td>Sunday</td>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="week in weeks">
        <td ng-repeat="day in week track by $index" ng-click="switchToDate(day)">
          {{day}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
