<div md-colors="(categories[option] && categories[option].color) ? {background: '{{categories[option].color}}'} : {background: 'grey-500-0'}">
  <span>{{categories[option] ? categories[option].name : "None"}}</span>
  <md-menu>
    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
      <md-icon>arrow_drop_down</md-icon>
    </md-button>
    <md-menu-content>
      <md-menu-item ng-repeat="category in categories">
        <md-button ng-disabled="category.disabled" ng-click="selectOption($index, category.value)">
          <span class="category-circle" ng-if="category.color" style="background-color: #{{category.color | categoryColorFilter}};"></span>
          {{category.name}}
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>
<ng-transclude></ng-transclude>
