<!DOCTYPE html>
<html ng-app="agendasApp">
  <head>
    <title>Agendas</title>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <script src="agendas.js"></script>
    <script>
    window.checkGoogleAuth = function() {
      angular.element(document.querySelector("body")).scope().checkAuth();
    }
    </script>
    <link rel="stylesheet" href="style.css" />

    <script src="https://apis.google.com/js/client.js?onload=checkGoogleAuth"></script>
  </head>
  <body ng-controller="AgendasUIController as agendas">
    <div class="main">
      <div class="agendas-sidebar">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="toggleSidenav('agendas-navigation-sidenav')">
              <md-icon>menu</md-icon>
            </md-button>
            <h2>Agendas</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="showAgendaCreationDialog($event)">
              <md-icon>add</md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-list>
          <!--
          <md-list-item ng-click="selectToday()"><md-icon>today</md-icon><p>Today</p></md-list-item>
          <md-list-item ng-click="selectWeek()"><md-icon>view_week</md-icon><p>This week</p></md-list-item>
          <md-list-item ng-click="selectAllTasks()"><md-icon>view_list</md-icon><p>All</p></md-list-item>
          -->
        </md-list>
        <md-card ng-repeat="agenda in agendaList" ng-click="selectAgenda(agenda)">
          <md-card-title>
            <md-card-title-text>{{agenda}}</md-card-title-text>
          </md-card-title>
          <md-button ng-click="showAgendaEditor(agenda, $event)">Edit</md-button>
        </md-card>
      </div>
      <div class="agendas-detail md-whiteframe-7dp">
        <md-tabs md-dynamic-height class="md-primary">
          <md-tab id="agendas-list-tab">
            <md-tab-label>List</md-tab-label>
            <md-tab-body>
              <div class="agendas-list">

                <md-switch ng-model="showCompleted">Show Completed</md-switch>

                <div class="task-group" ng-repeat="taskGroup in tasks | tasksListFilter:showCompleted">
                  <p>{{taskGroup.deadline | dateFilter}}</p>
                  <md-list class="md-whiteframe-2dp">
                    <md-list-item class="md-2-line" ng-repeat="task in taskGroup.tasks | completedTaskExclusionFilter:showCompleted" ng-click="viewTaskDetail(task)">
                      <md-checkbox class="md-primary" ng-model="task.completed" ng-change="completeTask(task)"></md-checkbox>
                      <div class="md-list-item-text">
                        <h3 class="complete-{{task.completed}}">{{task.name}}</h3>
                        <p><span class="category-circle" ng-if="shouldShowCategoryCircle(task.category)" style="background-color: #{{task.category | categoryColorFilter:selectedAgenda}}"></span>{{task.category | categoryNamingFilter:selectedAgenda}}</p>
                      </div>
                      <p class="md-secondary task-deadline-time" ng-if="task.deadlineTime">{{task.deadline | timeFilter}}</p>
                      <md-icon class="md-secondary" ng-click="viewTaskDetail(task)">edit</md-icon>
                    </md-list-item>
                  </md-list>
                </div>

                <md-list class="md-whiteframe-2dp new-task">
                  <md-list-item ng-click="newTask()">
                    <md-icon>add</md-icon>
                    <p>New task</p>
                  </md-list-item>
                </md-list>

              </div>

            </md-tab-body>
          </md-tab>
          <md-tab id="agendas-calendar-tab" ng-disabled="true">
            <md-tab-label>Calendar</md-tab-label>
            <md-tab-body class="agendas-calendar"></md-tab-body>
          </md-tab>
        </md-tabs>
      </div>
    </div>
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="agendas-navigation-sidenav">
    </md-sidenav>
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="agendas-task-detail">

      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="toggleSidenav('agendas-task-detail')">
            <md-icon>close</md-icon>
          </md-button>
          <h2>{{selectedTask.name}}</h2>
        </div>
      </md-toolbar>

      <md-input-container class="md-block">
        <label>Name</label>
        <input type="text" ng-model="selectedTask.name" />
      </md-input-container>

      <div>
        <p>Deadline</p>
        <md-datepicker ng-model="selectedTask.deadlineDate" md-placeholder="Enter date"></md-datepicker>
      </div>

      <div>
        <md-input-container>
          <label>Time</label>
          <md-select ng-model="selectedTask.time">
            <md-option ng-repeat="time in times" value="{{time.value}}">{{time.name}}</md-option>
          </md-select>
        </md-input-container>
      </div>

      <div>
        <md-input-container>
          <label>Category</label>
          <md-select ng-model="category">
            <md-option value="none">No category</md-option>
            <md-option ng-repeat="category in categories" value="category-{{category.id}}"><span class="category-circle" ng-if="category.color" style="background-color: #{{category.color | categoryColorFilter}}"></span>{{category.name}}</md-option>
            <md-option value="new"><md-icon>add</md-icon> New category</md-option>
          </md-select>
        </md-input-container>
      </div>

      <div><md-button class="md-block md-warn" ng-click="deleteSelectedTask($event)">Delete</md-button></div>

    </md-sidenav>

    <md-button class="new-task md-fab md-block" ng-click="newTask()">
      <md-icon>add</md-icon>
    </md-button>
  </body>
</html>
