<!DOCTYPE html>
<html ng-app="agendasApp">
  <head>
    <title>Agendas - {{agenda}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=320px, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="icon" href="favicon.ico" />

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <link rel="stylesheet" href="style.css" />

    <script src="https://www.gstatic.com/firebasejs/3.5.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCKVrro03usV3StlEq5Hu7FAdSOoSM9RVg",
        authDomain: "agendas-1293.firebaseapp.com",
        databaseURL: "https://agendas-1293.firebaseio.com",
        storageBucket: "agendas-1293.appspot.com",
        messagingSenderId: "153820900287"
      };
      firebase.initializeApp(config);
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

    <script src="agendas.js"></script>
  </head>
  <body ng-controller="AgendasUIController as agendas">
    <div class="main">
      <div class="agendas-sidebar" ng-hide="xs && (screen != 'sidebar')">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="toggleSidenav('agendas-navigation-sidenav')">
              <md-icon>menu</md-icon>
              <md-tooltip>Menu</md-tooltip>
            </md-button>
            <h2>Agendas</h2>
          </div>
        </md-toolbar>
        <md-list>
          <!--<md-list-item ng-click="selectToday()"><md-icon>today</md-icon><p>Today</p></md-list-item>
          <md-list-item ng-click="selectWeek()"><md-icon>view_week</md-icon><p>This week</p></md-list-item>
          <md-list-item ng-click="selectAllTasks()"><md-icon>view_list</md-icon><p>All</p></md-list-item>-->
        </md-list>
        <md-card ng-repeat="agenda in agendasList" ng-class="(selectedAgenda == agenda) ? 'selected-agenda' : ''" ng-click="selectAgenda(agenda)">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{agendas[agenda].name}}</span>
              <p>{{agenda}}</p>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" ng-click="showAgendaEditor(agenda, $event)">
              <md-icon>edit</md-icon>
              <md-tooltip>Edit Agenda</md-tooltip>
            </md-button>
          </md-card-actions>
        </md-card>
        <md-card ng-click="showAgendaCreationDialog($event)">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline"><md-icon>add</md-icon><span>New Agenda</span></span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
      </div>
      <div class="agendas-detail md-whiteframe-7dp" ng-hide="xs && (screen != 'detail')">
        <md-tabs md-dynamic-height class="md-primary">
          <md-tab id="agendas-list-tab">
            <md-tab-label>List</md-tab-label>
            <md-tab-body>
              <div class="agendas-list" ng-if="selectedAgenda">

                <md-switch ng-model="showCompleted">Show Completed</md-switch>

                <div class="task-group" ng-repeat="taskGroup in taskGroups | tasksListFilter:showCompleted">
                  <p>{{taskGroup.deadline | dateFilter}}</p>
                  <md-list class="md-whiteframe-2dp">
                    <md-list-item class="md-2-line" ng-repeat="task in taskGroup.tasks | completedTaskExclusionFilter:showCompleted" ng-click="selectTask(task, $event)">
                      <md-checkbox class="md-primary" ng-model="task.completed" ng-change="completeTask(task)"></md-checkbox>
                      <div class="md-list-item-text task-selected-{{task.selected}}">
                        <h3 class="complete-{{task.completed}}">{{task.name}}</h3>
                        <p>
                          <span class="category-circle" ng-if="getColor(categories[task.category].color)" style="background-color: #{{getColor(categories[task.category].color)}}"></span>
                          {{categories[task.category].name}}
                        </p>
                      </div>
                      <p class="md-secondary task-deadline-time" ng-if="task.deadlineTime">{{task.deadline | timeFilter}}</p>
                      <md-icon class="md-secondary" ng-click="viewTaskDetail(task)">edit</md-icon>
                    </md-list-item>
                  </md-list>
                </div>

                <md-list class="md-whiteframe-2dp new-task" ng-if="taskCreationAllowed">
                  <md-list-item ng-click="newTask()">
                    <md-icon>add</md-icon>
                    <p>New task</p>
                  </md-list-item>
                </md-list>

              </div>

            </md-tab-body>
          </md-tab>
          <md-tab id="agendas-calendar-tab" ng-disabled="settings.useCalendar !== true">
            <md-tab-label>Calendar</md-tab-label>
            <md-tab-body class="agendas-calendar">
              <h2 layout-margin class="md-display-4">Coming soon.</h2>
            </md-tab-body>
          </md-tab>
        </md-tabs>
        <md-button class="md-icon-button agendas-detail-back" hide-gt-xs ng-click="selectedAgenda = undefined; refresh()"><md-icon>arrow_back</md-icon></md-button>
        <md-card class="selected-tasks-actions" ng-hide="selectedTasks.length <= 0">
          <md-card-actions layout="row" ng-hide="showingMultipleDeadlineChange">
            <span class="md-button selected-tasks-actions-title">Actions</span>
            <span flex></span>
            <md-button class="md-icon-button md-primary" ng-click="showingMultipleDeadlineChange = true">
              <md-icon>date_range</md-icon>
              <md-tooltip>Change deadline</md-tooltip>
            </md-button>
            <md-button class="md-icon-button md-warn" ng-click="deleteSelectedTasks($event)">
              <md-icon>delete</md-icon>
              <md-tooltip>Delete</md-tooltip>
            </md-button>
          </md-card-actions>
          <md-card-actions layout="row" ng-show="showingMultipleDeadlineChange">
            <span class="md-button selected-tasks-actions-title">Deadline</span>
            <md-datepicker ng-model="multipleDeadline"></md-datepicker>
            <md-button class="md-icon-button md-accent" ng-click="hideMultipleDeadlineChange()">
              <md-icon>cancel</md-icon>
              <md-tooltip>Cancel</md-tooltip>
            </md-button>
            <md-button class="md-icon-button md-primary" ng-click="confirmMultipleDeadlineChange()">
              <md-icon>check_circle</md-icon>
              <md-tooltip>Confirm</md-tooltip>
            </md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="agendas-navigation-sidenav">
      <md-list>
        <md-list-item><p class="md-display-3">Agendas</p></md-list-item>
        <md-list-item ng-click="toggleSidenav('agendas-navigation-sidenav')">
          <md-icon>home</md-icon>
          <p>Home</p>
        </md-list-item>
        <md-list-item ng-click="openSettings($event)">
          <md-icon>settings</md-icon>
          <p>Settings</p>
        </md-list-item>
      </md-list>
    </md-sidenav>
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="agendas-task-detail">

      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="toggleSidenav('agendas-task-detail')">
            <md-icon>close</md-icon>
          </md-button>
          <h2>{{selectedTask.name}}</h2>
        </div>
      </md-toolbar>

      <div>
        <md-input-container class="md-block task-name-field">
          <label>Name</label>
          <input type="text" ng-model="selectedTask.name" />
        </md-input-container>
      </div>

      <div>
        <md-checkbox class="md-primary" ng-model="selectedTask.completed">Complete</md-checkbox>
      </div>

      <div>
        <p>Deadline</p>
        <div layout="row" layout-align="start start" class="deadline-picker">
          <md-datepicker ng-model="selectedTask.deadlineDate" md-placeholder="Date"></md-datepicker>
          <time-picker ng-model="selectedTask.time" use-24-hours="false"></time-picker>
        </div>
        <div ng-show="selectedTask && agendaForTask(selectedTask).raw.properties.schedule && !agendaForTask(selectedTask).raw.properties.schedule.deleted">
          <md-input-container>
            <label>Schedule</label>
            <md-select ng-model="selectedBlock" ng-disabled="!category || category === 'none'" md-on-open="refreshBlocks()">
              <md-option ng-repeat="block in blocks track by $index" ng-value="$index"><strong>{{block | dateFilter}}</strong> {{block | timeFilter}}</md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>

      <div>
        <md-input-container>
          <label>Repeat</label>
          <md-select ng-model="selectedTask.repeat" ng-disabled="!selectedTask.deadlineDate">
            <md-option value="">None</md-option>
            <md-option value="day">Day</md-option>
            <md-option value="weekday">Weekday</md-option>
            <md-option value="week">Week</md-option>
            <md-option value="2-weeks">Other Week</md-option>
            <md-option value="month">Month</md-option>
            <md-option value="year">Year</md-option>
          </md-select>
        </md-input-container>
        <p>Repeat Ends</p>
        <md-datepicker ng-model="selectedTask.repeatEnds" ng-disabled="!(selectedTask.deadlineDate && selectedTask.repeat)" md-placeholder="Enter date"></md-datepicker>
      </div>

      <div>
        <md-input-container>
          <label>Category</label>
          <md-select ng-model="selectedTask.category">
            <md-option>No category</md-option>
            <md-option ng-repeat="category in categoryList" ng-value="category.key"><span class="category-circle" ng-if="getColor(category.color)" style="background-color: #{{getColor(category.color)}}"></span>{{category.name}}</md-option>
            <md-option value="new" ng-click="newCategory()"><md-icon>add</md-icon> New category</md-option>
          </md-select>
        </md-input-container>
      </div>

      <div>
        <md-input-container>
          <label>Notes</label>
          <textarea ng-model="selectedTask.notes"></textarea>
        </md-input-container>
      </div>

      <div><md-button class="md-block md-warn" ng-click="deleteSelectedTask($event)">Delete</md-button></div>

    </md-sidenav>

    <md-button class="new-task md-fab md-block" ng-click="settings.useQuickAdd ? quickAdd($event) : newTask()" ng-hide="xs && (screen != 'detail')" ng-disabled="!taskCreationAllowed">
      <md-icon>add</md-icon>
      <md-tooltip>{{settings.useQuickAdd ? "Quick Add" : "New Task"}}</md-tooltip>
    </md-button>

    <div class="agendas-welcome" ng-hide="currentUser" layout="column" layout-align="center center">
      <div class="agendas-auth" ng-hide="currentUser || isLoading" layout="column" layout-align="center center">
        <h2 class="md-headline">Sign in using:</h2>
        <md-button class="md-raised" ng-click="signInWithGoogle()">Google</md-button>
        <!--
          <md-button class="md-raised" md-colors="{background: 'indigo'}">Facebook</md-button>
          <md-button class="md-raised" md-colors="{background: 'blue'}">Twitter</md-button>
        -->
      </div>
      <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
    </div>

    <div class="agendas-wallpaper blur-effect" ng-style="wallpaper"></div>
  </body>
</html>
