* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: rgba(0, 0, 0, 0);
}

html, body, body > div:first-child, ui-view, auth, agenda, settings, .full {
  width: 100%;
  height: 100%;
}

body, input, textarea, md-chip {
    font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
}

html[md-theme="dark"], html[md-theme="dark"] body {
  color: white;
  /*height: auto;*/
}

/*html[md-theme="dark"] md-sidenav md-list > md-list-item.md-2-line .md-list-item-text h3,
html[md-theme="dark"] md-sidenav md-list > md-list-item md-icon {
  color: white;
}

html[md-theme="dark"] md-sidenav md-list > md-list-item.md-2-line .md-list-item-text p {
  color: #FAFAFA;
}*/

md-sidenav.md-locked-open.md-sidenav-left[md-component-id="agendasSidenav"] {
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
}

md-sidenav md-list-item md-card {
  width: 100%;
  box-shadow: none;
  margin: 0.5rem;
  border-radius: 5px;
}

md-sidenav md-list-item md-card > md-card-content {
  padding: 0.5rem;
}

md-sidenav md-list-item md-card md-progress-circular svg > path {
  stroke: white;
}

agendas-menu-toolbar > md-toolbar.md-menu-toolbar,
agendas-menu-toolbar > md-toolbar.md-dark-theme.md-menu-toolbar {
  background-color: rgba(255, 255, 255, 0);
}

md-list-item.selected {
  background-color: #388E3C;
  color: white;
}

md-list-item.selected md-icon {
  color: white;
}

agenda div[md-whiteframe="4"] {
  border-top-left-radius:  10px;
  border-top-right-radius: 10px;
}

agenda md-tabs md-tabs-canvas {
  border-bottom-color: rgba(0, 0, 0, 0.15);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.agendas-sidenav-placeholder {
  width: 320px;
  height: 100%;
}

task-editor {
  padding: 1em;
  /*width: 100%;*/
  display: block;
}

time-picker md-input-container {
  margin: 0;
  padding-bottom: 6px;
}

time-picker .md-errors-spacer {
  display: none;
}

.md-nav-item .md-button._md-nav-button:not([disabled]) md-icon {
  color: inherit;
}

md-nav-bar ul._md-nav-bar-list {
  display: flex;
  justify-content: center;
}

.add-task {
  position: fixed;
  bottom: 0;
  background-color: white;
  z-index: 2;
}

.add-task > md-list-item,
task-creator {
  width: 100%;
}

agenda div[md-whiteframe] {
  background-color: #FAFAFA;
}

html[md-theme="dark"] agenda div[md-whiteframe] {
  background-color: #454545;
}

agenda md-list.task-list {
  padding-bottom: 72px;
}

agenda md-nav-bar > .md-nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 2;
}

html[md-theme="dark"] agenda md-nav-bar > .md-nav-bar {
  background-color: #454545;
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

task-creator > div.autocomplete {
  position: absolute;
  z-index: 3;
  bottom: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border-radius: 0;
}

html[md-theme="dark"] task-creator > div.autocomplete {
  background-color: black;
}

task-creator span.chip {
  margin-left: 0.25em;
  margin-right: 0.25em;
  padding: 0.5em;
  background-color: #E0E0E0;
  color: #424242;
  border-radius: 1em;
  display: inline-flex;
  white-space: nowrap;
}

task-creator span.chip:focus {
  background-color: #C8E6C9;
  color: #2E7D32;
}

task-creator input {
  border: none;
  line-height: 2em;
}

@media (max-width: 599px) {
  .add-task {
    width: 95%;
  }
}

.add-task > md-list-item {
  padding-left: 0;
  padding-right: 0;
}

task-creator > div.task-input {
  overflow: auto;
  padding: 16px;
  padding-right: 46px;
  white-space: nowrap;
  vertical-align: middle;
}

task-creator div.task-input > span:first-child > input:empty {
  /* min-width: 11rem; */
}

task-creator div.task-input > p {
  line-height: 2em;
  color: rgba(0, 0, 0, 0.6);
}

task-creator div.task-input > .md-fab {
  position: absolute;
  right: 0;
  top: 6px;
}

.measuring-div {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
  top: 100px;
}

tag-editor md-input-container,
tag-editor md-select {
  margin: 0;
}

agenda-settings .md-errors-spacer,
tag-editor .md-errors-spacer {
  display: none;
}

.tag-circle-container {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  position: relative;
  margin-right: 0.25em;
  vertical-align: middle;
}

.tag-circle {
  display: block;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  background-color: #757575;
  vertical-align: middle;
  position: absolute;
}

settings {
  display: block;
}

html[md-theme="dark"] .md-nav-bar .md-nav-item > .md-button.md-unselected {
  color: white;
}

html[md-theme="dark"] .add-task {
  background-color: #454545;
}

html[md-theme="dark"] task-creator input {
  background-color: #454545;
  color: white;
}

html[md-theme="dark"] task-creator input::-webkit-input-placeholder {
  color: #E0E0E0;
}
html[md-theme="dark"] task-creator input::-moz-placeholder {
  opacity: 1;
  color: #E0E0E0;
}
html[md-theme="dark"] task-creator input:-moz-placeholder {
  opacity: 1;
  color: #E0E0E0;
}
html[md-theme="dark"] task-creator input::-ms-input-placeholder {
  color: #E0E0E0;
}
html[md-theme="dark"] task-creator input::placeholder {
  color: #E0E0E0;
}

@media (min-width: 600px) and (max-width: 959px) {
  .add-task {
    width: 90%;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  .add-task {
    width: 80%;
  }
}

@media (min-width: 1280px) {
  .add-task {
    width: calc(0.6 * (100% - 320px));
  }
}

app-dialog h3,
app-dialog p,
app-dialog li {
  margin-bottom: 1em;
}

agenda .task-list md-list-item {
  transition: opacity 0.2s;
}

agenda .task-list.task-editor-open md-list-item {
  opacity: 0.3;
  pointer-events: none;
}

.task:not(.show) {
  display: none;
}

.task.overdue:not(.completed) .md-list-item-text h3,
.task.overdue:not(.completed) .md-list-item-text p,
.task.overdue:not(.completed) .md-list-item-text md-icon {
  color: #C62828;
}

html[md-theme="dark"] .task.overdue:not(.completed) .md-list-item-text h3,
html[md-theme="dark"] .task.overdue:not(.completed) .md-list-item-text p,
html[md-theme="dark"] .task.overdue:not(.completed) .md-list-item-text md-icon {
  color: #FFCDD2;
}

html[md-theme="default"] md-list-item.task.completed .md-list-item-text h3 {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: line-through;
}

html[md-theme="dark"] md-list-item.task.completed .md-list-item-text h3 {
  color: rgba(255, 255, 255, 0.7);
}

md-dialog tag-color-picker {
  display: flex;
  flex-direction: column;
}

.agendas-wallpaper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #F5F5F5;
  background-size: cover;
}

[md-theme="dark"] .agendas-wallpaper {
  background-color: #212121;
}

.wallpaper-tile {
  background-size: cover;
  background-position: center;
}
