*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  overflow-x: hidden;
  overflow-y: auto;
}

.main {
  width: 100vw;
}

.main,
.agendas-detail {
  min-height: 100vh;
}

.agendas-detail {
  background-color: #FFFFFF;
  position: relative;
  width: 67vw;
  margin-left: 33vw;
  left: 0;
  height: 100vh;
  overflow: auto;
}

.agendas-sidebar {
  background-color: #EEEEEE;
  width: 33vw;
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.agendas-sidebar > md-toolbar {
  background-color: transparent;
  color: black;
}

.agendas-sidebar > md-toolbar md-icon {
  color: black;
}

.agendas-sidebar md-card {
  display: inline-block;
  width: calc(50% - 16px);
}

@media (max-width: 1280px) {
  .agendas-sidebar md-card {
    width: calc(100% - 16px);
  }
}

.agendas-list {
  margin: 3rem auto 3rem auto;
  padding: 0 1rem 0 1rem;
  width: 100%;
  max-width: 640px;
}

.agendas-list .md-whiteframe-2dp {
  border-radius: 2px;
}

.task-group,
.agendas-list .new-task {
  margin-top: 2rem;
}

.task-group p {
  margin-bottom: 0.5rem;
}

.task-deadline-time {
  padding-right: 1em;
}

md-sidenav[md-component-id="agendas-task-detail"] {
  overflow-x: hidden;
  width: 640px;
}

md-sidenav[md-component-id="agendas-task-detail"] > div {
  padding: 1rem 1.5rem 0 1.5rem;
}

.task-name-field {
  margin-bottom: 0;
}

.new-task.md-fab {
  position: fixed;
  z-index: 50;
  top: auto;
  left: auto;
  bottom: 10px;
  right: 10px;
}

.agendas-list md-list > md-list-item h3.complete-true {
  width: auto;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.48);
}

.category-circle {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.category-list md-input-container,
.category-list md-select {
  margin-top: 0;
  margin-bottom: 0;
}

.category-list md-input-container > .md-errors-spacer,
.task-name-field .md-errors-spacer {
  height: 0;
  min-height: 0;
}

.agendas-detail-back {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 50;
  color: white;
}

.agendas-detail-back md-icon {
  color: white;
}

.task-selected-true h3,
.task-selected-true p {
  color: #4CAF50 !important;
}

.selected-tasks-actions {
  position: fixed;
  top: 48px;
  right: 8px;
}

.selected-tasks-actions md-card-actions > .selected-tasks-actions-title:first-child {
  cursor: default;
}

.selected-tasks-actions md-card-actions > .selected-tasks-actions-title:hover {
  background-color: transparent;
}

@media (max-width: 599px) {
  md-tabs md-pagination-wrapper {
    left: calc(10px + 2rem);
  }

  .agendas-sidebar,
  .agendas-detail {
    width: 100%;
    margin: 0;
  }

  .agendas-sidebar {
    position: static;
  }

  .category-list md-list-item {
    padding-left: 0;
    padding-right: 0;
  }

  .category-list md-select-value {
    min-width: initial;
    text-overflow: clip;
  }

  .category-list .category-circle {
    width: 0.8em;
    height: 0.8em;
  }

  .category-list .md-icon-button {
    margin: 0;
  }

  .agendas-sidebar {
    transition: opacity 0.25s;
    opacity: 1;
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1), cubic-bezier(0.35, 0, 0.25, 1), cubic-bezier(0.35, 0, 0.25, 1);
  }

  .agendas-sidebar.ng-hide-animate {
    display: block !important;
  }

  .agendas-sidebar.ng-hide {
    opacity: 0;
  }

  .agendas-detail {
    transition: left 0.25s;
    transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1), cubic-bezier(0.35, 0, 0.25, 1), cubic-bezier(0.35, 0, 0.25, 1);
  }

  .agendas-detail.ng-hide {
    left: 100%;
  }

  .agendas-detail.ng-hide-animate {
    display: block !important;
    position: absolute;
    z-index: 3;
    top: 0;
  }
}

.selected-agenda {
  background-color: rgb(76, 175, 80);
  color: white;
}

.selected-agenda md-icon {
  color: white;
}

control-point {
  margin-right: 2rem;
}

control-point md-icon {
  display: block;
  font-size: 2em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  text-align: center;
  padding: 0.5em;
  margin: 0;
}

.control-points {
  overflow: auto;
}

time-picker md-input-container {
  margin: 3px 0 0 0;
}

.deadline-picker time-picker md-input-container {
  margin-left: 1em;
}
