*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  overflow-x: hidden;
  overflow-y: auto;
}

.main {
  width: 100vw;
}

.main,
.agendas-detail {
  min-height: 100vh;
}

.agendas-detail {
  background-color: #FFFFFF;
  position: relative;
  width: 67vw;
  margin-left: 33vw;
}

.agendas-sidebar {
  background-color: #EEEEEE;
  width: 33vw;
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.agendas-sidebar > md-toolbar {
  background-color: transparent;
  color: black;
}

.agendas-sidebar > md-toolbar md-icon {
  color: black;
}

.agendas-list {
  margin: 3rem auto 3rem auto;
  padding: 0 3rem 0 3rem;
  width: 100%;
  max-width: 640px;
}

.agendas-list .md-whiteframe-2dp {
  border-radius: 2px;
}

.task-group,
.agendas-list .new-task {
  margin-top: 2rem;
}

.task-group p {
  margin-bottom: 0.5rem;
}

.task-deadline-time {
  padding-right: 1em;
}

md-sidenav[md-component-id="agendas-task-detail"] {
  overflow-x: hidden;
  width: 640px;
}

.new-task.md-fab {
  position: fixed;
  z-index: 50;
  top: auto;
  left: auto;
  bottom: 10px;
  right: 10px;
}

.agendas-list md-list > md-list-item h3.complete-true {
  width: auto;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.48);
}

.category-circle {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.category-list {
  width: 480px;
}

.category-list md-input-container,
.category-list md-select {
  margin-top: 0;
  margin-bottom: 0;
}

.category-list md-input-container > .md-errors-spacer {
  height: 0;
  min-height: 0;
}
