*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: black;
}

body {
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: auto;
}

body, input {
    font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
}

.main {
  width: 100vw;
}

.main,
.agendas-detail {
  min-height: 100vh;
}

.agendas-detail {
  position: relative;
  width: 100%;
  margin-left: 50%;
  left: 0;
  color: white;
  transform: translateX(-50%);
}

.agendas-detail .md-whiteframe-2dp {
  background-color: white;
  color: black;
}

.agendas-sidebar md-card {
  display: inline-block;
  width: calc(50% - 16px);
}

@media (max-width: 1280px) {
  .agendas-sidebar md-card {
    width: calc(100% - 16px);
  }
}

.agendas-list {
  width: 100%;
  max-width: 640px;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
}

.agendas-list .md-whiteframe-2dp {
  border-radius: 2px;
}

.task-group,
.agendas-list .new-task {
  margin-top: 2rem;
}

.agendas-list .new-task {
  color: black;
}

.task-group p {
  margin-bottom: 0.5rem;
}

.task-deadline-time {
  padding-right: 1em;
}

md-sidenav[md-component-id="agendas-task-detail"] {
  overflow-x: hidden;
  width: 640px;
}

md-sidenav[md-component-id="agendas-task-detail"] > div {
  padding: 1rem 1.5rem 0 1.5rem;
}

.task-name-field {
  margin-bottom: 0;
}

.new-task.md-fab {
  position: fixed;
  z-index: 50;
  top: auto;
  left: auto;
  bottom: 10px;
  right: 10px;
}

.agendas-list md-list > md-list-item h3.complete-true {
  width: auto;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.48);
}

.category-circle {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}

.category-list md-input-container,
.category-list md-select {
  margin-top: 0;
  margin-bottom: 0;
}

.category-list md-input-container > .md-errors-spacer,
.task-name-field .md-errors-spacer {
  height: 0;
  min-height: 0;
}

.agendas-menu-button {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  color: white;
}

.agendas-menu-button md-icon {
  color: white;
}

.task-selected-true h3,
.task-selected-true p {
  color: #4CAF50 !important;
}

.selected-tasks-actions {
  position: fixed;
  top: 48px;
  right: 8px;
}

.selected-tasks-actions md-card-actions > .selected-tasks-actions-title:first-child {
  cursor: default;
}

.selected-tasks-actions md-card-actions > .selected-tasks-actions-title:hover {
  background-color: transparent;
}

.selected-agenda {
  background-color: rgb(76, 175, 80);
  color: white;
}

.selected-agenda md-icon {
  color: white;
}

control-point {
  margin-right: 2rem;
}

control-point md-icon {
  display: block;
  font-size: 2em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  text-align: center;
  padding: 0.5em;
  margin: 0;
}

.control-points {
  overflow: auto;
}

time-picker md-input-container {
  margin: 3px 0 0 0;
}

.deadline-picker time-picker md-input-container {
  margin-left: 1em;
}

.schedule-div {
  overflow-x: auto;
}

.agendas-wallpaper {
  background-color: #757575;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: auto;
}

wallpaper-picker {
  margin-top: 2em;
  overflow-x: auto;
  margin-bottom: 2em;
}

wallpaper-picker > div {
  display: flex;
  overflow-y: hidden;
  padding-left: 2em;
}

wallpaper-picker > div > div {
  margin-right: 2em;
}

wallpaper-picker img {
  max-width: 20em;
  max-height: 10em;
}

wallpaper-picker p {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  border-radius: 25px;
}

wallpaper-picker .selected p {
  color: white;
  background-color: #43A047;
}

.agendas-welcome {
  background-color: rgba(0, 0, 0, 0.65);
  color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(6px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.agendas-auth {
  width: 90%;
  max-width: 320px;
}

.agendas-auth .md-button.md-raised {
  display: block;
  width: 100%;
}

md-tabs.hide-tab-bar > md-tabs-wrapper {
  position: absolute;
  left: -110%;
  top: -110%;
}

.agendas-schedule md-card {
  padding: 0.5em;
}

div.agendas-detail > md-tabs > md-tabs-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

div.agendas-detail > md-tabs > md-tabs-wrapper md-tab-item,
div.agendas-detail > md-tabs > md-tabs-wrapper md-tab-item.md-active {
  color: white;
}

md-sidenav.md-locked-open.md-closed.md-sidenav-left {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: auto;
  height: 100vh;
}

md-sidenav.md-locked-open + .agendas-detail {
  margin-left: calc(50% + 160px);
}
