<div layout="row" layout-align="start center">
  <md-checkbox class="md-primary" ng-model="completed"></md-checkbox>
  <md-input-container class="md-headline" flex md-no-float>
    <input type="text" placeholder="Name" ng-model="name" />
  </md-input-container>
</div>
<div layout="row" layout-align="start center">
  <span>Deadline: </span>
  <md-datepicker ng-model="deadlineDate" md-placeholder="Date"></md-datepicker>
  <time-picker ng-model="deadlineTime" placeholder="Time" use-24-hours="false"></time-picker>
</div>
<div layout="row" layout-align="start center">
  <span>Repeat: </span>
  <md-select ng-model="repeat" style="padding-left: 1em;" ng-disabled="!deadlineDate" style="margin: 0;">
    <md-optgroup label="Repeat Every">
      <md-option value="">None</md-option>
      <md-option value="day">Day</md-option>
      <md-option value="weekday">Weekday</md-option>
      <md-option value="week">Week</md-option>
      <md-option value="2-weeks">Other Week</md-option>
      <md-option value="month">Month</md-option>
      <md-option value="year">Year</md-option>
    </md-optgroup>
  </md-select>
  <md-datepicker ng-model="repeatEnds" md-placeholder="End Repeat" ng-if="deadlineDate && repeat"></md-datepicker>
</div>
<div layout="row" layout-align="start center" style="margin-bottom: 1rem;">
  <span>Priority: </span>
  <md-select ng-model="priority" style="padding-left: 1em; margin: 0;">
    <md-option ng-value="0">None</md-option>
    <md-option ng-value="1">Low</md-option>
    <md-option ng-value="2">Medium</md-option>
    <md-option ng-value="3">High</md-option>
    <md-option ng-value="4">Urgent</md-option>
  </md-select>
</div>
<md-chips ng-model="tags" md-transform-chip="angular.noop()" md-autocomplete-snap md-require-match="true">
  <md-autocomplete md-search-text="tagSearchText" md-items="item in getMatchingTags(tagSearchText)" placeholder="Add tag">
    <span><md-icon md-colors="getMdColor(item.color)">local_offer</md-icon> {{item.name}}</span>
  </md-autocomplete>
  <md-chip-template>
    <md-icon md-colors="getMdColor($chip.color)">local_offer</md-icon>
    {{$chip.name}}
  </md-chip-template>
</md-chips>
<md-input-container class="md-block">
  <label>Notes</label>
  <textarea ng-model="notes"></textarea>
</md-input-container>
<div layout="row">
  <md-button class="md-warn" ng-click="delete($event)">Delete</md-button>
  <span flex></span>
  <md-button class="md-accent" ng-click="cancel()">Cancel</md-button>
  <md-button class="md-raised md-accent" ng-click="save()">Save</md-button>
</div>
