<md-dialog-content ng-if="loading || !(usernameStep || tutorialStep || updateNotes)">
  <div class="md-dialog-content" layout="column" layout-align="center center" layout-margin>
    <md-progress-circular md-mode="indeterminate" style="height: 100px; width: 100px;"></md-progress-circular>
    <p>Loading...</p>
  </div>
</md-dialog-content>
<md-dialog-actions ng-if="loading || !(usernameStep || tutorialStep || updateNotes)">
  <md-button style="opacity: 0.5;" ng-click="done()">Skip Setup</md-button>
  <span flex></span>
</md-dialog-actions>

<md-dialog-content ng-if="usernameStep && !tutorialStep">
  <div style="width: 100%; padding: 32px;" layout="row" layout-align="center center">
    <span class="md-display-1">Set your account up</span>
  </div>
  <div class="md-dialog-content" layout="column" layout-align="center center" layout-margin>
    <p class="md-headline">Create a username</p>
    <p>You'll need a username to share agendas.</p>
    <md-input-container style="display: block; width: 100%;" md-is-error="usernameError">
      <label>Username</label>
      <input type="text" ng-model="username.username" ng-disabled="changingUsername" />
    </md-input-container>
  </div>
</md-dialog-content>
<md-dialog-actions ng-if="usernameStep && username.username.length < 1 && !tutorialStep">
  <md-button ng-click="skipUsername()">Skip</md-button>
</md-dialog-actions>
<md-dialog-actions ng-if="usernameStep && username.username.length > 0 && !tutorialStep">
  <md-button ng-disabled="changingUsername" class="md-accent" ng-click="saveUsername(username.username)">Continue</md-button>
</md-dialog-actions>

<md-dialog-content ng-if="tutorialStep && !taskStep && !doneStep && !loading">
  <div style="width: 100%; padding: 32px;" layout="row" layout-align="center center">
    <span class="md-display-1">Create your first agenda</span>
  </div>
  <div class="md-dialog-content" layout="column" layout-align="center center" layout-margin>
    <p>Each agenda will hold multiple tasks.</p>
    <md-input-container style="display: block; width: 100%; margin-top: 1em;" md-is-error="agendaError">
      <label>Agenda Name</label>
      <input placeholder="School, Work, etc..." type="text" ng-model="agendaName.name"/>
    </md-input-container>
  </div>
</md-dialog-content>
<md-dialog-actions ng-if="tutorialStep && !taskStep && !doneStep && !loading">
  <md-button class="md-accent" ng-click="doneTutorialStep()">{{agendaName.name ? "Next" : "Skip"}}</md-button>
</md-dialog-actions>

<md-dialog-content ng-if="taskStep && !doneStep && !loading">
  <div style="width: 100%; padding: 32px;" layout="row" layout-align="center center">
    <span class="md-display-1">Add your first task</span>
  </div>
  <div class="md-dialog-content" layout="column" layout-align="center center" layout-margin>
    <p>Type your first task into the box. Hit Enter or the + button when you're done.</p>
    <p><strong>Protip:</strong> Try using words and phrases such as "today", "every day", and "important".</p>
    <task-creator style="display: block; width: 100%; margin-top: 1em; border: 1px solid #888888; border-radius: 2px; position: relative;" tags="tags" on-add-task="addTask(task)"></task-creator>
  </div>
</md-dialog-content>
<md-dialog-actions ng-if="taskStep && !doneStep && !loading">
  <md-button class="md-accent" ng-click="skipTaskStep()">Skip</md-button>
</md-dialog-actions>

<md-dialog-content ng-if="doneStep">
  <div style="width: 100%; padding: 32px;" layout="column" layout-align="center center">
    <span class="md-display-1">You're all set.</span>
    <md-button class="md-accent" ng-click="done()">Get started</md-button>
  </div>
</md-dialog-content>

<md-dialog-content ng-if="updateNotes">
  <div class="md-dialog-content">
    <h3 class="md-headline">Have no fear, Agendas 3.3 is here!</h3>
    <p>Here's a list of <em>shiny</em> changes:</p>
  </div>
  <md-list>
    <md-list-item class="md-2-line">
      <md-icon class="md-avatar-icon" md-colors="{background: 'green'}">collections</md-icon>
      <div class="md-list-item-text">
        <h3>28 new wallpapers.</h3>
        <p>Choose from new wallpapers of New York, Hong Kong, Lagos, Paris, Melbourne, Rio de Janeiro, and Antarctica in a wallpaper picker that doesn't fry your CPU.</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line">
      <md-icon class="md-avatar-icon" md-colors="{background: 'blue'}">view_list</md-icon>
      <div class="md-list-item-text">
        <h3>All agendas.</h3>
        <p>See and check off everything you need to do on one convinient screen.</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line">
      <md-icon class="md-avatar-icon" md-colors="{background: 'purple'}">text_format</md-icon>
      <div class="md-list-item-text">
        <h3>Markdown. Now in Agendas.</h3>
        <p>Use Markdown to format task notes. Bold text, underline text, add links, create tables, and much more.</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line">
      <md-icon class="md-avatar-icon" md-colors="{background: 'pink'}">note_add</md-icon>
      <div class="md-list-item-text">
        <h3>Even more quick shortcuts.</h3>
        <p>Set a priority and complete a task, even before you create it.</p>
      </div>
    </md-list-item>
  </md-list>
</md-dialog-content>
<md-dialog-actions ng-if="updateNotes">
  <md-button class="md-accent" ng-click="done()">Done</md-button>
</md-dialog-actions>
