<md-list>
  <md-list-item>
    <md-input-container flex class="md-headline" md-no-float>
      <input placeholder="Agenda Name" type="text" ng-change="$ctrl.changeName($ctrl.agenda.name)" ng-model="$ctrl.agenda.name" />
    </md-input-container>
  </md-list-item>
  <md-divider></md-divider>
  <md-subheader>Permissions</md-subheader>
  <md-list-item ng-repeat="(user, role) in permissions">
    <p ng-if="getUsername(user)">{{getUsername(user) || "No Username"}}</p>
    <md-progress-circular ng-if="!getUsername(user)" md-mode="indeterminate"></md-progress-circular>
    <md-select class="md-secondary" ng-model="role" ng-change="$ctrl.changePermission(user, role)" ng-disabled="$first && $last && role === 'manager'" style="margin: 0;">
      <md-option value="manager">Can manage</md-option>
      <md-option value="editor">Can edit</md-option>
      <md-option value="viewer">Can view</md-option>
      <md-option value="none">No access</md-option>
    </md-select>
  </md-list-item>
  <md-list-item>
    <md-input-container style="margin: 0;" flex md-is-error="usernameInvalid">
      <label>Username</label>
      <input type="text" ng-model="usernameToAdd" />
    </md-input-container>
    <md-select style="margin: 0;" class="md-secondary" ng-model="roleToAdd">
      <md-option value="manager">Can manage</md-option>
      <md-option value="editor">Can edit</md-option>
      <md-option value="viewer">Can view</md-option>
    </md-select>
    <md-button class="md-secondary md-icon-button md-accent" ng-click="$ctrl.addPermission()" ng-disabled="!roleToAdd"><md-icon>person_add</md-icon></md-button>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item ng-if="permissions[$root.user.uid] === 'editor'">
    <md-button class="md-warn" ng-click="$ctrl.deleteAgenda()">Delete Agenda</md-button>
  </md-list-item>
</md-list>
