<md-dialog-content>
  <md-grid-list md-cols-lg="4" md-cols="2" md-gutter="4px" md-row-height="16:9" ng-style="{width: isFullscreen() ? '100vw' : '70vw'}" style="margin: 8px;" ng-if="!viewingCredits">
    <md-grid-tile ng-click="selectNone()" style="background-color: rgba(255, 255, 255, 0.2);">
      <md-grid-tile-footer style="padding-left: 1em;">
        <span ng-if="wallpaper.collection || wallpaper.image">None</span>
        <md-icon ng-if="!(wallpaper.collection || wallpaper.image)">done</md-icon>
        <span ng-if="!(wallpaper.collection || wallpaper.image)">Selected</span>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile ng-click="selectOption(key, collection)" ng-repeat="(key, collection) in wallpapers" class="wallpaper-tile" ng-style="{'background-image': 'url(\'' + ((wallpaper.collection || wallpaper.image) === key ? getWallpaperThumbnail(wallpaper) : (collection.images ? getWallpaperThumbnail({collection: key}) : getWallpaperThumbnail({image: key}))) + '\')'}">
      <md-grid-tile-footer ng-show="collection.images || (wallpaper.collection || wallpaper.image) === key" ng-style="{'background-color': (wallpaper.collection || wallpaper.image) === key ? 'rgba(0, 0, 255, 0.36)' : 'rgba(0, 0, 0, 0.36)'}" style="padding-left: 1em;">
        <md-icon ng-if="(wallpaper.collection || wallpaper.image) !== key">access_time</md-icon>
        <md-icon ng-if="(wallpaper.collection || wallpaper.image) === key">done</md-icon>
        <span ng-if="(wallpaper.collection || wallpaper.image) === key">Selected</span>
      </md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile ng-click="selectCustom()" style="background-color: rgba(255, 255, 255, 0.2);">
      <md-icon style="font-size: 2em;">link</md-icon>
      <md-grid-tile-footer style="padding-left: 1em;" ng-style="{'background-color': wallpaper.custom ? 'rgba(0, 0, 255, 0.36)' : 'rgba(0, 0, 0, 0.36)'}">
        <span ng-if="!wallpaper.custom">Custom URL</span>
        <md-icon ng-if="wallpaper.custom">done</md-icon>
        <span ng-if="wallpaper.custom">Selected</span>
      </md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>
  <div class="md-dialog-content" ng-if="viewingCredits">
    <h3 class="md-headline" style="margin-bottom: 1em;">Image credits</h3>
    <div ng-repeat="image in getImageCredits()" style="margin-bottom: 1em;">
      <h4 class="md-title">{{image.name}}</h4>
      <p ng-if="image.credit">{{image.credit}}</p>
      <a ng-if="image.creditURL" md-colors="{color: 'blue-300'}" target="_blank" ng-href="{{image.creditURL}}">View image</a>
    </div>
    <md-button ng-click="viewImageCredits()" style="margin: 0; padding-left: 0; padding-right: 0;">Back to wallpapers</md-button>
  </div>
</md-dialog-content>
<md-dialog-actions>
  <strong ng-if="wallpaper.collection">{{wallpapers[wallpaper.collection].name}}</strong>
  <md-select class="md-no-underline" ng-if="wallpaper.collection" ng-model="wallpaper.image" placeholder="Automatic" style="vertical-align: middle; margin: 0; margin-left: 1em;">
    <md-option ng-value=""><md-icon style="color: inherit;">access_time</md-icon> Automatic</md-option>
    <md-option ng-if="wallpapers[wallpaper.collection].images.dawn" ng-value="wallpapers[wallpaper.collection].images.dawn">Dawn</md-option>
    <md-option ng-if="wallpapers[wallpaper.collection].images.day" ng-value="wallpapers[wallpaper.collection].images.day">Day</md-option>
    <md-option ng-if="wallpapers[wallpaper.collection].images.sunset" ng-value="wallpapers[wallpaper.collection].images.sunset">Sunset</md-option>
    <md-option ng-if="wallpapers[wallpaper.collection].images.night" ng-value="wallpapers[wallpaper.collection].images.night">Night</md-option>
  </md-select>
  <span ng-if="wallpaper && !wallpaper.collection && !wallpaper.custom">{{images[wallpaper.image].name}}</span>
  <span ng-if="wallpaper.custom">Custom URL </span>
  <md-button ng-class="{'md-accent': viewingCredits}" class="md-icon-button" ng-if="wallpaper.collection || wallpaper.image" ng-click="viewImageCredits()"><md-icon>info</md-icon></md-button>
  <span flex ng-if="!wallpaper.custom"></span>
  <md-input-container flex ng-if="wallpaper.custom" style="vertical-align: middle;">
    <label>Wallpaper URL</label>
    <input placeholder="https://example.com" type="url" ng-model="wallpaper.url" />
  </md-input-container>
  <md-button class="md-primary" ng-click="cancel()">Cancel</md-button>
  <md-button class="md-accent" ng-click="select()">Select</md-button>
</md-dialog-actions>
